.App {
  display: grid;
  margin: 0 auto;
  width: 300px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50px repeat(5, 30px);
  grid-template-areas:
    "res res res res"
    "7 8 9 reset"
    "4 5 6 reset"
    "1 2 3 reset"
    "0 dot plus minus"
    "equal equal times div";
  border: black 3px solid;
  border-radius: 4px;
}
h3 {
  grid-area: res;
  margin: 0;
  font-size: 2rem;
  text-align: right;
  border: black;
  border-radius: 3px;
}
button {
  background: green;
  color: beige;
  border-radius: 3px;
  border: black 2px solid;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background: rgb(62, 158, 62);
}

#equal {
  grid-area: equal;
}

#clear {
  grid-area: reset;
}
